.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background: rgb(245, 238, 243);
	background: linear-gradient(90deg, rgba(245, 238, 243, 1) 50%, rgba(237, 249, 254, 1) 100%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.poll-section div[role='button']:first-child {
	background: #ed2e7e;
}

.poll-section div[role='button']:nth-child(2) {
	background: #406ae2;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
